@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#cadastrado {
   position: absolute;
   left: 78%;
   top: 80px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   z-index: 20;
   background-color: #41ff4bc1;
   padding: 15px;
   animation-name: example;
   animation-duration: 1.5s;
}

@keyframes example {
  0%   {left:50%; top:80px;}
  100%  {left:78%; top:80px;}
}


#cadastrado h1 {
   font-size: 20px;
   color: white;
}

#naoCadastrado {
   position: absolute;
   left: 81%;
   top: 80px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   z-index: 20;
   background-color: #ff4141c1;
   padding: 15px;
   animation-name: example2;
   animation-duration: 1.5s;
}

@keyframes example2 {
  0%   {left:50%; top:80px;}
  100%  {left:81%; top:80px;}
}


#naoCadastrado h1 {
   font-size: 20px;
   color: white;
}

#menu-conteudo {
   display: flex;
}

#menuSuperior {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 10vh;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#menuSuperior img {
   margin-left: 25px;
}

#menuSuperior h1 {
   text-decoration: none;
   margin-left: -50%;
   font-size: 18px;
   text-transform: uppercase;
   color: #000000;
}

#menuSuperior ul li {
   list-style: none;
}

#menuSuperior ul li a {
   margin-left: -150%;
   text-decoration: none;
   font-size: 25px;
   color: red;
}

#menuSuperior ul li a:hover {
   font-weight: bold;
}

/*menu lateral*/

#menuLateral {
   position: relative;
   background-color: rgb(255, 0, 0);
   width: 18vw;

   height: 90vh;
}

#menuLateral ul {
   position: absolute;
   top: 2vh;
   margin-top: 25px;
   list-style: none;
}

#menuLateral ul li {
   cursor: pointer;
   font-size: 25px;
   padding: 15px 0;
   padding-left: 20px;
   color: #FFFFFF;
   width: 18vw;
}

#menuLateral ul li:hover {
   font-weight: bold;
   background-color: #ee0000;
}

/*conteudo*/

#conteudo {
   padding-top: 70px;
   width: 82vw;
   max-height: 84vh;
   overflow: auto;
}

#conteudo section {
   display: none;
}
 
 #conteudo section.active {
   display: block;
   animation: show .5s forwards;
 }

/* Designing for scroll-bar */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #f76363;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: #ff0000;
}

.adds {
   margin: auto;
   margin-top: -10px;
   margin-bottom: 20px;
   width: 90%;
   display: flex;
}

.add-link {
   margin-right: 5%;
   font-size: 20px;
   cursor: pointer;
}

.add-link:hover {
   font-weight: bold;
}

#fundoModal {
   position: absolute;
   z-index: 9;
   width: 100vw;
   height: 90vh;
   background-color: hsla(0, 0%, 0%, 0.275);
   display: none;
}

#modalLivro {
   z-index: 10;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   min-height: 550px;
   max-height: 600px;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   display: none;
}

#modalLivro form {
   margin-top: 10%;
}

#modalLivro textarea {
   max-width: 60%;
   min-width: 60%;
   min-height: 150px;
   max-height: 150px;
}

#modalLivro form input, textarea, select {
   border: 1px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 7px;
   width: 60%;
   font-size: 16px;
   height: 35px;
   margin-top: 10px;
   display: flex;
   outline-width: 1px;
   outline-color: #f76363;
}

.criarAutor {
   display: none;
   margin-top: -15px;
   margin-left: -20px;
   margin-right: 30px;
   padding: 10px;
   background-color: #F5F5F5;
   border-radius: 5px;
}

.criarAutor .inputCriar {
   border: 2px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 5px;
   font-size: 16px;
   outline-width: 1px;
   outline-color: #f76363;
}

.criarAutor .btnCriar {
   border: 2px solid #f76363;
   border-radius: 5px;
   margin: auto;
   padding: 5px;
   font-size: 16px;
   outline-width: 1px;
   color: #ff0000;
   outline-color: #f76363;
   cursor: pointer;
}

.criarAutor .btnCriar:hover {
   color: #F5F5F5;
   background-color: #f76363;
}

.criarEditora {
   display: none;
   margin-top: -15px;
   margin-left: -20px;
   margin-right: 20px;
   padding: 10px;
   background-color: #F5F5F5;
   border-radius: 5px;
}

.criarEditora .inputCriar {
   border: 2px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 5px;
   font-size: 16px;
   outline-width: 1px;
   outline-color: #f76363;
}

.criarEditora .btnCriar {
   border: 2px solid #f76363;
   border-radius: 5px;
   margin: auto;
   padding: 5px;
   font-size: 16px;
   outline-width: 1px;
   color: #ff0000;
   outline-color: #f76363;
   cursor: pointer;
}

.criarEditora .btnCriar:hover {
   color: #F5F5F5;
   background-color: #f76363;
}

#ModalLivro .selectDiv {
   background-color: blue;
}

#modalLivro .select-form {
   background-color: white;
}

#modalLivro input[type=file] {
   padding: 5px;
   border: none;
}

#modalLivro input[type=file]::file-selector-button {
   background: none;
   cursor: pointer;
   color: #a5a5a5;
   padding: 5px;
   border: 1px solid #a5a5a5;
   margin-left: -5px;
   border-radius: 4px;
}

#modalLivro input[type=file]::file-selector-button:hover {
   color: #4c4c4c;
   border-color: #4c4c4c;
   transition: 0.5s;
}

#modalLivro .criar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   margin-right: 20%;
   outline: none;
   border: 1px solid #00b509;
   color: #00b509;
   border-radius: 5px;
   background: none;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

#modalLivro .criar:hover {
   border-width: 2px;
}

#modalLivro .btnSair {
   cursor: pointer;
   background: none;
   font-size: 20px;
   color: #ff0000;
   border: none;
   float: right;
   margin-top: 15px;
   margin-right: 15px;
   width: 25px;
   height: 25px;
   border-radius: 5px;
}

#modalLivro .btnSair:hover, .cancelar:hover, .criar:hover {
   font-weight: bold;
}

#modalLivro .cancelar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   outline: none;
   border: none;
   border-radius: 5px;
   background: none;
   color: #ff0000;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

/*modal editar usuario*/
#modalEditarUser {
   z-index: 10;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 550px;
   min-height: 400px;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   display: none;
}

#modalEditarUser form {
   margin-top: 13%;
}

#modalEditarUser form input, textarea {
   border: 1px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 7px;
   width: 70%;
   font-size: 16px;
   height: 35px;
   margin-top: 10px;
   display: flex;
   outline-width: 1px;
   outline-color: #f76363;
}

#modalEditarUser .select-form {
   background-color: white;
}

#modalEditarUser .criar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   margin-right: 15%;
   outline: none;
   border: 1px solid #00b509;
   color: #00b509;
   border-radius: 5px;
   background: none;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

#modalEditarUser .criar:hover {
   border-width: 2px;
}

#modalEditarUser .btnSair {
   cursor: pointer;
   background: none;
   font-size: 20px;
   color: #ff0000;
   border: none;
   float: right;
   margin-top: 15px;
   margin-right: 15px;
   width: 25px;
   height: 25px;
   border-radius: 5px;
}

#modalEditarUser .btnSair:hover, .cancelar:hover, .criar:hover {
   font-weight: bold;
}

#modalEditarUser .cancelar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   outline: none;
   border: none;
   border-radius: 5px;
   background: none;
   color: #ff0000;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

/* MODAL EDITAR LIVRO */
#modalEditarLivro {
   z-index: 10;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 600px;
   min-height: 480px;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   display: none;
}

#modalEditarLivro input, select, textarea {
   border: 1px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 7px;
   width: 70%;
   font-size: 16px;
   height: 35px;
   margin-top: 10px;
   display: flex;
   outline-width: 1px;
   outline-color: #f76363;
}

#modalEditarLivro textarea {
   max-width: 70%;
   min-width: 60%;
   min-height: 150px;
   max-height: 150px;
}

#modalEditarLivro form {
   margin-top: 100px;
}

#modalEditarLivro .select-form {
   background-color: white;
}

#modalEditarLivro .criar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   margin-right: 15%;
   outline: none;
   border: 1px solid #00b509;
   color: #00b509;
   border-radius: 5px;
   background: none;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

#modalEditarLivro .criar:hover {
   border-width: 2px;
}

#modalEditarLivro .btnSair {
   cursor: pointer;
   background: none;
   font-size: 20px;
   color: #ff0000;
   border: none;
   float: right;
   margin-top: 15px;
   margin-right: 15px;
   width: 25px;
   height: 25px;
   border-radius: 5px;
}

#modalEditarLivro .btnSair:hover, .cancelar:hover, .criar:hover {
   font-weight: bold;
}

#modalEditarLivro .cancelar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   outline: none;
   border: none;
   border-radius: 5px;
   background: none;
   color: #ff0000;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

.add-livro:hover {
   font-weight: bold;
}

table {
   text-align: center;
   margin: auto;
   width: 80%;
}

table .id-table {
   width: 20px;
}

table th, td, tr {
   margin: 0px;
   border-bottom: 2px solid #eee;
   padding: 10px;
}

table .img-livro {
   padding: 0px;
   height: 40px;
}

table .img-acao {
   cursor: pointer;
   width: 40px;
}

#livros table {
   width: 90%;
}

.editar {
   position: absolute;
   width: 25px;
   height: 25px;
}

.deletar {
   width: 25px;
   height: 25px;
}

/* RELATORIOS */

#relatorios {
   margin: auto;
   width: 80%;
}

.relatorioDiv {
   display: flex;
   justify-content: space-between;
   border-radius: 8px;
   padding: 10px 20px;
   background-color: #F5F5F5;
   margin-bottom: 20px;
   align-items: center;
}

.relatorioDiv p {
   font-size: 25px;
   font-weight: bold;
}

.relatorioDiv button {
   border: none;
   color: white;
   background-color: #ff0000;
   border-radius: 8px;
   font-size: 20px;
   cursor: pointer;
   padding: 10px 10px;
}