@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#menu-conteudo {
   display: flex;
}

#menuSuperior {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 10vh;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#menuSuperior img {
   margin-left: 25px;
}

#menuSuperior h1 {
   text-decoration: none;
   margin-left: -50%;
   font-size: 18px;
   color: rgb(0, 0, 0);
}

#menuSuperior ul li {
   list-style: none;
}

#menuSuperior ul li a {
   margin-left: -150%;
   text-decoration: none;
   font-size: 25px;
   color: red;
}

#menuSuperior ul li a:hover {
   font-weight: bold;
}

/*menu lateral*/

#menuLateral {
   position: relative;
   background-color: rgb(255, 0, 0);
   width: 18vw;

   height: 90vh;
}

#menuLateral ul {
   position: absolute;
   top: 2vh;
   margin-top: 25px;
   margin-left: 25px;
   list-style: none;
}

#menuLateral ul li {
   cursor: pointer;
   font-size: 25px;
   padding: 15px 0;
   color: #FFFFFF;
}

#menuLateral ul li:hover {
   font-weight: bold;
}

/*conteudo*/

#conteudo {
   padding-top: 70px;
   width: 82vw;
   max-height: 84vh;
   overflow: auto;
}

#conteudo section {
   display: none;
}
 
 #conteudo section.active {
   display: block;
   animation: show .5s forwards;
 }

/* Designing for scroll-bar */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #f76363;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: #ff0000;
}

.add-livro {
   font-size: 20px;
   cursor: pointer;
   position: absolute;
   top: 90px;
   left: 23%;
}

#fundoModal {
   position: absolute;
   z-index: 9;
   width: 100vw;
   height: 90vh;
   background-color: hsla(0, 0%, 0%, 0.275);
   display: none;
}

#modalLivro {
   z-index: 10;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   min-height: 550px;
   max-height: 600px;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   display: none;
}

#modalLivro form {
   margin-top: 10%;
}

textarea {
   max-width: 60%;
   min-width: 60%;
   min-height: 150px;
   max-height: 150px;
}

#modalLivro form input, textarea {
   border: 1px solid #a5a5a5;
   border-radius: 5px;
   margin: auto;
   padding: 7px;
   width: 60%;
   font-size: 16px;
   height: 35px;
   margin-top: 10px;
   display: flex;
   outline-width: 1px;
   outline-color: #f76363;
}

#modalLivro input[type=file] {
   padding: 5px;
   border: none;
}

#modalLivro input[type=file]::file-selector-button {
   background: none;
   cursor: pointer;
   color: #a5a5a5;
   padding: 5px;
   border: 1px solid #a5a5a5;
   margin-left: -5px;
   border-radius: 4px;
}

#modalLivro input[type=file]::file-selector-button:hover {
   color: #4c4c4c;
   border-color: #4c4c4c;
   transition: 0.5s;
}

#modalLivro .criar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   margin-right: 20%;
   outline: none;
   border: 1px solid #00b509;
   color: #00b509;
   border-radius: 5px;
   background: none;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

#modalLivro .criar:hover {
   border-width: 2px;
}

#modalLivro .btnSair {
   cursor: pointer;
   background: none;
   font-size: 20px;
   color: #ff0000;
   border: none;
   float: right;
   margin-top: 15px;
   margin-right: 15px;
   width: 25px;
   height: 25px;
   border-radius: 5px;
}

#modalLivro .btnSair:hover, .cancelar:hover, .criar:hover {
   font-weight: bold;
}

#modalLivro .cancelar {
   cursor: pointer;
   margin-top: 25px;
   float: right;
   outline: none;
   border: none;
   border-radius: 5px;
   background: none;
   color: #ff0000;
   font-size: 18px;
   height: 35px;
   width: 120px;
}

.add-livro:hover {
   font-weight: bold;
}

table {
   text-align: center;
   margin: auto;
   width: 70%;
}

table .id-table {
   width: 20px;
}

table th, td, tr {
   margin: 0px;
   border-bottom: 2px solid #eee;
   padding: 10px;
}

table .img-livro {
   padding: 0px;
   height: 40px;
}

table .img-acao {
   cursor: pointer;
   width: 40px;
}

#livros table {
   width: 90%;
}

.editar {
   position: absolute;
   width: 25px;
   height: 25px;
}

.deletar {
   width: 25px;
   height: 25px;
}