@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   width: 100%;
   height: 10vh;
}

#navBar {
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 75vw;
   margin: auto;
}

.logo {
   float: left;
}

#navBar ul li {
   display: inline;
   list-style: none;
}

#cadastrarNav {
   padding: 15px;
   list-style: none;
   text-decoration: none;
   float: right;
   color: black;
   border-radius: 7px;
}

#loginNav a {
   color: white;
}

#navBar ul li a {
   font-size: 20px;
   text-decoration: none;
}

#loginNav {
   background-color: #FF5050;
   padding: 15px;
   list-style: none;
   text-decoration: none;
   float: right;
   border-radius: 7px;
}

#loginNav a {
   text-decoration: none;
   font-size: 20px;
}

.pesquisa {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #555555;
   border-radius: 6px;
}

.pesquisa .imgPesquisa {
   padding-right: 6px;
   margin-bottom: -4px;
}

.btnPesquisar {
   background: none;
   border: none;
}

#txPesquisa {
   width: 350px;
   height: 34px;
   padding: 5px;
   outline: 0;
   border: solid 1px #555555;
   background-color: #ebebeb;
   margin-right: 5px;
   border-radius: 6px;
}

.menuLista img{
   margin-left: 5px;
   cursor: pointer;
}

hr {
   margin-top: 8px;
   margin-bottom: 8px;
   background-color: #FF5050;
}

#secLinks {
   margin: auto;
   width: 40%;
   height: 50px;
}

ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

li {
   list-style: none;
}

li a {
   text-decoration: none;
   color: black;
}

li a:hover {
   font-weight: bold;
}

.carrinhoImg {
   margin-right: 20px;
}

.dropdown:hover .dropdownMenu{
   display: block;
}

.dropdownMenu {
   z-index: 12;
   background-color: #000000;
   border-radius: 0 10px 10px 10px;
   position: absolute;
   display: none;
}

.dropdownMenu a {
   color: white;
   margin: 20px;
   display: block;
}

.dropdownMenu a:hover {
   font-weight: bold;
}