@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
}

header {
   width: 100%;
   height: 9vh;
}

#navBar {
   height: 9vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 75vw;
   margin: auto;
}

.logo {
   float: left;
   cursor: pointer;
}

/* Conteudo */

.conteudo {
   display: flex;
}

.direita {
   position: relative;
   width: 40%;
   height: 100vh;
   background-color: #FF3636;
}

.direita img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}

/* form */
.form {
   display: block;
   position: relative;
   background-color: #ffffff;
   width: 60%;
   border-radius: 7px;
}

input {
   border: 1px solid #313131dd;
}

p, input, button {
   margin-left: 25%;
}

p {
   margin-bottom: 6px;
   color: #7c7c7c;
}

.span-validacao {
   color: #FF3636;
   margin-left: 25%;
   margin-top: -20px;
   margin-bottom: 5px;
   display: none;
}

.primeiro {
   margin-top: 6%;
}

input {
   outline: 0;
   margin-top: 0;
   margin-bottom: 24px;
   width: 50%;
   font-size: 16px;
   height: 38px;
   border: 0;
   padding-left: 8px;
   border-radius: 7px;
   border: 1px solid #7c7c7c;
}

button {
   cursor: pointer;
   border: 0;
   background-color: #FF5050;
   color: #ebebeb;
   height: 45px;
   width: 51%;
   font-size: 25px;
   border-radius: 7px;
   margin-top: 15px;
}